@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure CI/CD</h1>
    <p>Learn about <a href="https://azure.microsoft.com/en-au/services/devops/pipelines/">
        1. Examine how simple to create Azure CI/CD pipeline
    </a>.</p>
</div>
